/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: "Bree Serif", serif;
    font-weight: bold;
    color:#333333;
}

#testoAlternato {
    width: 33vw;
    border: 1px solid #333333;
    margin: 0 auto;
    position: absolute;
    top: 18%;
    left: 35%;
    padding: 1.0em;
}

.parole {
    color:#69889C;
    position: absolute;
    top:0;
}

.parole{
	margin: 0;
	text-align: left;
    font-size: 2em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.mot{
	display: inline;
	text-indent: 10px;
    color:#69889C;
}
.mot-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color:#69889C;
	animation: rotateWord 10s linear infinite 0s;
    top: 59%;
    left: 41%;
}
.mot-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color:#69889C;
}
.mot-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color:#69889C;	
}
.mot-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color:#69889C;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}